/* RESET ALL STYLES*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET */

body {
	background-color: dimgray;
	height:100%;
}

button:focus {outline:0;}

.content_wrapper {
	margin: 0 auto;
	max-width: 640px;
	position:relative;
	height:90%;
	padding-top: 5%;
	overflow: hidden;
}

.error {
	background-color: red;
	color:white;
	font-family: Arial;
	font-size: 24px;
	padding: 20px;
	margin: 20px 0;
	display: block;
	border-radius: 5px;
	text-align: center;
}

.login_background {
	width: 100%;
	height: 100vh;
	background-image: url("../images/login_lanterns.jpg");
	background-size: 100% 100%;
}

.login_button {
	display:block;
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	width: 250px;
	padding:15px 0;
	background-color: blue;
	font-size: 24px;
	color: white;
	border: 1px solid white;
	font-family: Arial;
	margin: 10px 0;
	text-align: center;
}

.login_description {
	font-size: 32px;
	font-family: Arial;
	text-align: center;
	margin:20px 0;
}

.login_input {
	padding: 5px;
	width: 80%;
	height: 50px;
	display:block;
	margin: 40px auto 0;
	font-size:28px;
}

.login_modal {
	display:none;
	z-index: 10;
	background-color: white;
}

.login_wrapper {
	position:relative;
	padding-top: 15%;
}

.ls_button {
	width: 50%;
	height:70px;
	border:none;
	padding:0;
	background:none;
	background-color: lightgray;
	font-size: 24px;
}

.ls_darkened {
	background-color: darkgray;
}

.ls_lightened {
	background-color: lightgray;
}

.title {
	text-align: center;
	width: 100%;
	font-family: Arial;
}

.title_container {
	position:relative;
	width: 100%;
	color:white;
	font-size: 96px;
}

.login_button.create{
    position: relative;
    top: -420px;
    left: 935px;
    /* margin: -100px 0px 0px 0px; */
    /* position:fixed; */
}

.title.lanternView{
    text-align: right;
    font-size: 50px;
    margin: -65px 0px 450px -645px;
    background-size: 100% 100%;
    /* width: 100% */
    /* height: 100% */
    /* font-family: Arial; */
    /* width: 100%; */
}

/*Overrides for Popeye*/
.popeye-modal {
	padding: 0 !important;
	background-color: lightgray !important;
}

.popeye-close-modal {
	display: none !important;
}


/* main page */
#mainPage {
	background-image: url("../images/night-sky.jpg")
	background-size: 100% 100%;
}

.logoutbutton {
	cursor: pointer;
}

.topright {
	position:absolute;
	top:0;
	right:0;
	padding: 10px;
}

/* LANTERN CSS CODE */
.box{
	width: 62px;
	height: 68px;
	/*position: relative;
    float: left;*/
	-moz-animation: 3s ease 0s normal none infinite swingy;
	-moz-transform-origin: center top;
	-webkit-animation:swingy 3s infinite linear;
	-webkit-transform-origin:top;
}

@-moz-keyframes swingy {
	0%{-moz-transform:rotate(-8deg)}
	50%{-moz-transform:rotate(8deg)}
	100%{-moz-transform:rotate(-8deg)}
}
@-webkit-keyframes swingy{
	0%{-webkit-transform:rotate(-8deg)}
	50%{-webkit-transform:rotate(8deg)}
	100%{-webkit-transform:rotate(-8deg)}
}

.lantern {
	width:30px;
	height:60px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff32+0,e5b32b+50,ff6644+100 */
	background: #ffff32; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffff32 0%, #e5b32b 50%, #ff6644 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffff32 0%,#e5b32b 50%,#ff6644 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffff32 0%,#e5b32b 50%,#ff6644 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff32', endColorstr='#ff6644',GradientType=0 ); /* IE6-9 */
}

/* BOAT CSS CODE */
#boat {
	display: block;
	margin: auto;
	transform: translateY(80%);
}

.title.create{
    position: relative;
    top: 10px;
}


.title_container.lanternTitle{
    font-size: 28px;
    margin: 0px 0px 0px -580px;
}

.lanternViewBackground{
    width: 100%;
    height: 100vh;
    margin: 0px 0px 0px 0px;
    background-image: url("../images/rectangular_lanterns.jpg");
    /* background-image: url("../images/rectangular_lanterns.resized.png"); */
    /* background-size: 100% 100%; */
    background-size: cover;
}

#lanternTextField{
    margin: 0px 0px 0px 0px;
    position:relative;
    top: -560px;
    left: 350px;
    resize: none;
    width: 275px;
    height: 200px;
    background-color: yellow;
	  font-family: Arial;
	  font-size: 28px;
}

