<div class="lanternViewBackground">
		<div class="title_container lanternTitle">
			<div class="title create">
				Create Lantern
			</div>
		</div>
</div>

<button ng-click="addPost()" class="login_button create">Post</button>
<button ng-click="" class="login_button create">Back</button>
<!-- <textarea id="lanternTextField" ng-model="$parent.postText"></textarea> -->
<div contenteditable="true" 
	 class="validate[required,length[6, 300]] feedback-input" 
     id="lanternTextField" 
     ng-model="postText"></div>
