<div class="lanternViewBackground">
		<div class="title_container lanternTitle">
			<div class="create title">
				Create Lantern
			</div>
		</div>
</div>
<div class="post_container">
	<textarea id="lanternTextField" ng-model="postText"></textarea> 
	<div class="lantern_button_container">
		<a href="#/main" button ng-click="addPost()" class="login_button create">Post</a>
		<a href="#/main" class="login_button create">Back</a>
	</div>
</div>
<!-- <div contenteditable="true" class="validate[required,length[6, 300]] feedback-input" id="lanternTextField" ng-model="postText"></div> -->
