<div class="lanternViewBackground">
    <!-- <div class="title lanternView">View Lantern</div> -->
    <!-- <div class="lanternViewTitle">View Lantern</div> -->
    <!-- <div class="login_background"> -->
        <div class="content_wrapper">
            <div class="title_container">
                <div class="title lanternView">
                    View Lantern
                </div>
            </div>
        </div>
        <!-- I'm Sorry I'm Using "Your Login Button" Maliciously -->
        <button class="login_button view">Back</button>
        <!-- </div> -->
</div>
